<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
        <property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/insert_db_name_here?useSSL=false</property>
        <property name="hibernate.connection.username">insert_db_user_name_here</property>
        <property name="hibernate.connection.password">insert_db_ppassword_here</property>
        <property name="hibernate.show_sql">false</property><!--Enable for debugging-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="connection.pool_size">50</property>

    </session-factory>
</hibernate-configuration>
