<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/start.css">
</head>
<body>
    
    <div class="imgdiv">
      <img src='/static/logo.png' class="imggeneral" alt="Italian Trulli" width="10%" height="auto">
      <!--<input type="text" class="input-search-new2" placeholder="Type to Search...">-->
      <div class="searchbardiv">
        <form method="POST"><input type="text" name="search" class="searchbarinput" placeholder="Type to Search..."> 
        <input list="browsers" name="ranker" id="browser" class="searchbarranker" placeholder="BM25" default="NN">
        <datalist id="browsers">
          <option value="BM25">
          <option value="NN">
          <option value="TfIdf">
          <option value="RkSVM">
        </datalist>
      </div>
      <input type="submit" id="submitbutton" class="submitbutton"></form>
    </div>
    
</body>

    
    
    <!--<br>
    <div class="search-box">
        <input type="text" class="input-search-new" placeholder="Type to Search...">
        <input list="browsers" name="browser" id="browser" class="ranker" placeholder="Ranker...">
      <datalist id="browsers">
        <option value="Edge">
        <option value="Firefox">
        <option value="Chrome">
        <option value="Opera">
        <option value="Safari">
      </datalist>
    </div>
    
    
    
    <div class="github">
      <a target="_blank" href="https://github.com/Yannjoel/mse_project_team05.com">
          <span>MSE Team 05. It's open source. View Code on Github. 
          </span>
      </a>
    
    </div> -->
</body>